.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    padding: 1rem 1.25rem 2.635rem;
    text-align: center;
}

.content{
    flex: 1;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    gap: 2rem;
}

.nav {
    flex: 1;
    height: 100%;
    overflow-y: auto;

}

.navContent{
    flex: 2;

}

.buttonElementContainer{
    display: block;
    height: 6.25rem;
    background-color: rgba(0, 0, 0, 0.232);
    text-decoration: none;
}

.buttonElementContainer:hover{
    display: block;
    height: 6.25rem;
    background-color: rgba(58, 55, 125, 0.232);
    text-decoration: none;
}


.buttonElement{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 0.5rem;

    border: none;
    color: white;
}

.buttonElement:last-child{
    margin-bottom: 0;
}

.isActive{
    display: block;
    height: 6.25rem;
    text-decoration: none;
    background-color: rgba(139, 139, 168, 0.558);
}

.isActive:hover{
    background-color: rgba(78, 78, 121, 0.477);
}
